.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

select {
  width: 200px;
}

input {
  width: 192px;
}

.coment {
  height: 60px;
}

.button {
  width: 200px;
  height: 30px;
}

#resalt {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}
